body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.15), rgba(0, 0, 0, 0.15)), url(background.jpg);
    background-size: cover;
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }
  
  #todo-container {
    margin-top: 100px;
    text-align: center;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  #todo-input {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  }
  
  #add-button {
    padding: 10px 20px;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  
  #todo-list {
    list-style-type: none;
    padding: 0;
    margin-bottom: 10px;
  }
  
  .todo-item {
    display: flex;
    align-items: center;
    text-align: justify;
    margin-bottom: 10px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  
  .todo-item input[type="checkbox"] {
    margin-right: 10px;
  }
  
  .todo-item span {
    flex-grow: 1;
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  }
  
  #clear-button {
    padding: 10px 20px;
    font-size: 14px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }